{% extends "base.html" %}

{% block content %}
{% if user.username == 'admin' or user.username == 'tecnico01' %}
    {% if user.username == 'admin' %}
        <div>
            <a href = "{% url 'crear_cliente' %}" >Nuevo Cliente</a>
            <a href="{% url 'crear_tienda' %}">Nuevo Tienda</a>
            <a href="{% url 'crear_compra' %}">nueva Compra</a>
        </div>
    {% endif %}
    <div>
        <a href="{% url 'lista_clientes' %}">Lista Clientes</a>
        <a href="{% url 'lista_tiendas' %}">Lista Tiendas</a>
    </div>
usuario: {{ user.username }}
<h1>Lista de Compras</h1>
<div class="mid">
    <ul>
        {% for compra in compras %}
            <li> {{ compra.id_compra }} - {{ compra.fecha }} - {{ compra.monto }} ||
                {% if user.username == 'admin' %}
                    <a href="{% url 'eliminar_compra' compra.id_compra %}">eliminar</a>||
                {% endif %}
                    <a href="{% url 'actualizar_compra' compra.id_compra %}">Modificar</a>
            </li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'logout' %}">Cerrar Sesion</a>
{%else%}
<h2>Ud no tiene permiso para app ventas!!!</h2>
{% endif %}

{% endblock content %}