{% extends "base.html" %}

{% block content %}
{% if user.username == 'admin' or user.username == 'tecnico01' %}
    {% if user.username == 'admin' %}
    
        <div>
            <a href = "{% url 'crear_cliente' %}" >Nuevo Cliente</a>
            <a href="{% url 'crear_tienda' %}">Nuevo Tienda</a>
            <a href="{% url 'crear_compra' %}">nueva Compra</a>
        </div>
    {% endif %}
    <div>
        <a href="{% url 'lista_clientes' %}">Lista Clientes</a>
        <a href="{% url 'lista_compras' %}">Lista Compras</a>
    </div>
usuario: {{ user.username }}
<h1>Lista Tiendas</h1>
<div class="mid">
    <ul>
        {% for tienda in tiendas %}
            <li> {{ tienda.id_tienda }} - {{ tienda.nombre }} - {{ tienda.direccion }} ||
                {% if user.username == 'admin' %}
                    <a href="{% url 'eliminar_tienda' tienda.id_tienda %}">eliminar</a>||     
                {% endif %}
                    <a href="{% url 'actualizar_tienda' tienda.id_tienda %}">Modificar</a>
            </li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'logout' %}">Cerrar Sesion</a>
{%else%}
<h2>Ud no tiene permiso para app ventas!!!</h2>
{% endif %}

{% endblock content %}